[alias]
  a = add
  aa = add --all
  ap = add -p
  b = branch
  ch = checkout
  co = commit -m
  confge = config --global user.email
  confgn = config --global user.name
  confe = config user.email
  confn = config user.name
  cl = clean -f
  d = diff
  ds = diff --staged
  f = fetch
  l = log
  lp = log -p
  lpf = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  p = pull --rebase
  po = push origin
  s = status
  st = stash
  sta = stash apply

[branch]
    autosetuprebase = always

[core]
    # put global ignore list in home dir
    excludesfile = ~/.gitignore

[credential]
    # 12 hour cache
    helper = cache --timeout=43200

[include]
    # put user.email and user.name in local file
    path = ~/.gitconfig-local

[merge]
    conflictstyle = diff3

[push]
    default = simple
