[alias]
  a = add
  aa = add --all
  ap = add -p
  b = branch
  c = commit -m
  cl = clean -f
  d = diff
  d = diff
  ds = diff --staged
  f = fetch
  p = pull --rebase
  s = status

[branch]
    autosetuprebase = always

[core]
    # put global ignore list in home dir
    excludesfile = ~/.gitignore

[credential]
    # 12 hour cache
    helper = cache --timeout=43200

[include]
    # put user.email and user.name in local file
    path = ~/.gitconfig-local

[merge]
    conflictstyle = diff3

[push]
    default = simple
