" use space to start a command
nnoremap ; :

" exit insert mode with quick jk
" exit visual mode with quick io
:imap jk <Esc>
:vmap io <Esc>

" backspace
set backspace=indent,eol,start

" stay in visual mode after changing indent
vmap > >gv
vmap < <gv
